{{ define "title" }}404{{ end }}
{{ define "main" }}
  <div class="not-found">
    <h1>Page not found</h1>
    <p>Sorry, the requested page could not be found.</p>
  </div>
<script>  
    // 5秒后自动跳转  
    let countdown = 3;  
    const countdownElement = document.getElementById('countdown');  
      
    const timer = setInterval(() => {  
      countdown--;  
      countdownElement.textContent = countdown;  
        
      if (countdown <= 0) {  
        clearInterval(timer);  
        window.location.href = '{{ .Site.BaseURL }}';  
      }  
    }, 1000);  
  </script> 
{{ end }}
